<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
        "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.total.ConfigMapper">

    <insert id="insertLoginInfo">
        INSERT INTO course_user (userid, passwd, inpdate) 
        VALUES (#{userid}, #{passwd}, CURRENT_DATE())
    </insert>
    
    <select id="getCourseInfo" resultType="com.example.domain.total.SearchCourseInfo">
    	<bind name="cNoLike" value="'%' + courseno + '%'" />
    	<bind name="cNameLike" value="'%' + coursename + '%'" />
    	SELECT courseno, coursename, thedate, starttime, endtime, vacantseats, now() AS nowtime FROM course  
    	 <where>
            <if test="courseno != ''">
                courseno LIKE #{cNoLike}
            </if>
            <if test="coursename != ''">
                AND coursename LIKE #{cNameLike}
            </if>
            <if test="year != ''">
                AND DATE_FORMAT(thedate, '%Y') = #{year}
            </if>
            <if test="month != ''">
                AND DATE_FORMAT(thedate, '%m') = #{month}
            </if>
            <if test="day != ''">
                AND DATE_FORMAT(thedate, '%d') = #{day}
            </if>
            <if test="sthour != ''">
                AND substring(starttime, 1, 2) = #{sthour}
            </if>
            <if test="stmin != ''">
                AND substring(starttime, 4, 2) = #{stmin}
            </if>
            <if test="endhour != ''">
                AND substring(endtime, 1, 2) = #{endhour}
            </if>
            <if test="endmin != ''">
                AND substring(endtime, 4, 2) = #{endmin}
            </if>
            <if test="minvacantseats!= ''">
                <![CDATA[ AND vacantseats >= #{minvacantseats} ]]>
            </if>
            <if test="maxvacantseats!= ''">
                <![CDATA[ AND vacantseats <= #{maxvacantseats} ]]>
            </if>
            <if test="state == 'end'">
                <![CDATA[ AND REPLACE(CONCAT(thedate), '-', '') < CURRENT_DATE() + 0 ]]>
            </if>
            <if test="state == 'session'">
                <![CDATA[ AND REPLACE(CONCAT(thedate), '-', '') = CURRENT_DATE() + 0 ]]>
            </if>
            <if test="state == 'plan'">
                <![CDATA[ AND REPLACE(CONCAT(thedate), '-', '') > CURRENT_DATE() + 0 ]]>
            </if>
        </where>
    </select>
    
    <delete id="deleteCourseInfoFromcourse_apply" >
    	DELETE FROM course_apply WHERE courseno = #{courseno}
    </delete>
    
    <delete id="deleteCourseInfoFromcourse" >
    	DELETE FROM course WHERE courseno = #{courseno}
    </delete>
    
    <update id="updateCourseInfo">
    	UPDATE course 
    	SET coursename = #{coursename}, thedate = #{thedate}, vacantseats = #{vacantseats}, starttime = #{starttime}, endtime = #{endtime}, upddate = now() 
    	WHERE courseno = #{courseno}
    </update>
    
</mapper>
