<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>メニュー</title>
</head>
<body>
	<div class="box">
		<h1 class="blue"><span th:text="#{title.total.conf}"></span></h1>
		<form th:action="@{/total/config}" th:object="${loginForm}" method="post">
			<table border="1">
				<tr>
					<th>講座番号</th>
					<th>講座名</th>
					<th>開催日時</th>
					<th>定員</th>
					<th>状態</th>
					<th></th>
				</tr>
				<tr th:each="courseInfo : ${courseInfo}">
					<td th:text="${courseInfo.courseno}"></td>
					<td th:text="${courseInfo.coursename}"></td>
					<td>
						<span th:text="${#dates.format(courseInfo.thedate, 'yyyy年MMM月dd日 (E)')}"></span>
						<span th:text="${courseInfo.starttime}"></span>-<span th:text="${courseInfo.endtime}"></span>
					</td>
					<td th:text="${courseInfo.vacantseats}"></td>
					<td th:text="${courseInfo.state}"></td>
					<td>
						<input type="submit" class="btn" name="edit" value="修正" />
						<input type="submit" class="btn" name="delete" value="削除" />
					</td>
				</tr>
			</table>
			<br />
			<input type="submit" class="btn" name="search" align="right" value="講座検索" />
		</form>
	</div>
</body>
</html>