<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>メニュー</title>
</head>
<body>
	<div class="box">
		<h1 class="blue"><span th:text="#{title.total.editend}"></span></h1>
		<h3 class="blue">講座情報の修正を完了しました。</h3>
		<form th:action="@{/total/configmenu}" th:object="${loginForm}" method="post">
			<br />
			<input type="submit" class="btn" name="menu" value="講座管理メニュー" /><br />
			<br />
			<input type="submit" class="btn" name="search" value="講座検索" />
			<br />
			<input type="submit" class="btn" name="courseList" value="講座一覧" /><br />
			<br />
			<input type="submit" class="btn" name="logout" value="ログアウト" />
		</form>
	</div>
</body>
</html>