<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>メニュー</title>
</head>
<body>
	<div class="box">
		<h1 class="blue"><span th:text="#{title.total.input}"></span></h1>
		<form th:action="@{/total/loginconf}" th:object="${loginForm}" method="post">
			<table align="center">
				<tr>
					<td colspan="4">
						<p th:if = "${#fields.hasErrors('all')}"></p>
						<p th:errors = "*{all}" class = "error-message">error!</p>
					</td>
				</tr>
				<tr>
					<td><span class="red">※  は入力必須</span></td>
				</tr>
				<tr>
					<td class="blue">ユーザID　<span class="red">※</span></td>
					<td><input type="text" maxlength="8" th:field="*{userid}" th:errorclass = "error-input" /></td>
					<td><input type="submit" class="btn" name="check" value="ID重複チェック" /></td>
				</tr>
				<tr>
					<td class="blue">パスワード　<span class="red">※</span></td>
					<td><input type="password" maxlength="8" th:field="*{passwd}" th:errorclass = "error-input" /></td>
				</tr>
			</table>
			<input type="submit" class="btn" name="confirm" value="確認" /><br />
		</form>
	</div>
</body>
</html>