<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>メニュー</title>
</head>
<body>
	<div class="box">
		<h1 class="blue"><span th:text="#{title.total.conf}"></span></h1>
		<form th:action="@{/total/loginend}" th:object="${loginForm}" method="post">
			<table align="center">
				<tr>
					<td class="blue">ユーザID</td>
					<td>
						<span th:text="*{userid}"></span>
						<input type="hidden" th:field="*{userid}"	/>
					</td>
				</tr>
				<tr>
					<td class="blue">パスワード</td>
					<td>
						<span th:text="*{passwd}"></span>
						<input type="hidden" th:field="*{passwd}"	/>
					</td>
				</tr>
			</table>
			<input type="submit" class="btn" value="登録" /><br />
		</form>
	</div>
</body>
</html>