<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
        "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.ApplyInfoMapper">
<!-- <select id="serchCourseInfo" resultType="com.example.domain.CourseInfo"> -->
    <select id="searchCourseInfo" resultType="HashMap">
        SELECT thedate, starttime, endtime, coursename, vacantseats - COUNT(course_apply.courseno) AS vacantseats, course.courseno AS courseno
		FROM course LEFT JOIN course_apply 
		ON course.courseno = course_apply.courseno 
		WHERE thedate > now() 
		GROUP BY courseno 
		ORDER BY thedate LIMIT 5
    </select>
    
    <insert id="insertApply">
	    INSERT INTO application 
	    (name, furigana, mail, sex, birthday, tel, remarks, inpdate) 
	    VALUES (#{name}, #{furigana}, #{mail}, #{gender}, #{birthday}, #{tel}, #{remarks}, CURRENT_DATE())
    </insert>
    
    <select id="lastInsertId" resultType="String">
    	SELECT LAST_INSERT_ID()
    </select>
    
    <insert id="insertCourseApply">
	    INSERT INTO course_apply 
	    (id_application, courseno, inpdate) 
	    VALUES (#{id_application}, #{courseno}, CURRENT_DATE())
    </insert>
</mapper>

