<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>講座登録</title>
</head>
<body>
	<h1>講座登録</h1>
	<p>※　は入力必須です。</p>
	<form th:action="@{/admin/conf}" th:object="${courseForm}" method="post">
	
		<p th:if = "${#fields.hasErrors('all')}">エラーが発生しました！</p>
		<p th:errors = "*{all}" class = "error-message">error!</p>
		
		<table>
			<tr>
				<td>講座番号　※</td>
				<td><input type="text" th:field="*{courseno}" th:errorclass = "error-input" /></td>
			</tr>
			<tr>
				<td>講座名　※</td>
				<td><input type="text" th:field="*{coursename}" th:errorclass = "error-input" /></td>
			</tr>
			<tr>
				<td>講座開催日　※</td>
				<td>
					<select th:field="*{year}">
						<option value=""></option>
						<option th:each="i : ${yearList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
					</select>年
					<select th:field="*{month}">
						<option value=""></option>
						<option th:each="i : ${monthList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
					</select>月
					<select th:field="*{day}">
						<option value=""></option>
						<option th:each="i : ${dayList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
					</select>日
				</td>
			</tr>
			<tr>
				<td>開始時刻　※</td>
				<td>
					<select th:field="*{sthour}">
						<option value=""></option>
						<option th:each="i : ${hourList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
					</select>時
					<select th:field="*{stmin}">
						<option value=""></option>
						<option th:each="i : ${minList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
					</select>分
				</td>
			</tr>
			<tr>
				<td>終了時刻　※</td>
				<td>
					<select th:field="*{endhour}">
						<option value=""></option>
						<option th:each="i : ${hourList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
					</select>時
					<select th:field="*{endmin}">
						<option value=""></option>
						<option th:each="i : ${minList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
					</select>分
				</td>
			</tr>
			<tr>
				<td>定員　※</td>
				<td><input type="text" th:field="*{vacantseats}" th:errorclass = "error-input" />人</td>
			</tr>
		</table>
		<input type="submit" name="back" value="戻る" />
		<br />
		<input type="submit" name="confirm" value="確認" />
	</form>
</body>
</html>