<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>申込み確認</title>
</head>
<body>
	<div class="box">
		<h1 class="blue"><span th:text="#{title.course.conf}"></span></h1>
		<form th:action="@{/course/end}" th:object="${applicationForm}" method="post">
			<table>
				<tr>
					<td colspan="2">
						<h3 class="red">※　入力内容を確認してください。</h3>
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.name}"></span></td>
					<td>
						<span th:text="*{name}"></span>
						<input type="hidden" th:field="*{name}"	/>
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.furigana}"></span></td>
					<td>
						<span th:text="*{furigana}"></span>
						<input type="hidden" th:field="*{furigana}"	/>
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.mail}"></span></td>
					<td>
						<span th:text="*{mail}"></span>
						<input type="hidden" th:field="*{mail}"	/>
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.birthday}"></span></td>
					<td>
						<span th:text="*{year}"></span><span th:text="#{label.year}" class="blue"></span>
						<span th:text="*{month}"></span><span th:text="#{label.month}" class="blue"></span>
						<span th:text="*{day}"></span><span th:text="#{label.day}" class="blue"></span>
						<input type="hidden" th:field="*{year}"	/>
						<input type="hidden" th:field="*{month}" />
						<input type="hidden" th:field="*{day}" />
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.tel}"></span></td>
					<td>
						<span th:text="*{tel}"></span>
						<input type="hidden" th:field="*{tel}" />
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.remarks}"></span></td>
					<td>
						<span th:text="*{remarks}"></span>
						<input type="hidden" th:field="*{remarks}" />
					</td>
				</tr>
			</table>
			<input type="submit" class="btn" name="back" value="戻る" />
			<input type="submit" class="btn" name="apply" value="申込み" />
		</form>
	</div>
</body>
</html>