<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>申込み完了</title>
</head>
<body>
	<div class="box">
		<h1 class="blue"><span th:text="#{title.course.end}"></span></h1>
		<h3 class="blue">講座申込みの受付を完了しました。<br />ありがとうございました。</h3>
		<form th:action="@{/course/input}" th:object="${applicationForm}" method="post">
			<input type="submit" class="btn" value="追加申込み" />
		</form>
	</div>
</body>
</html>