<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>講座申込み</title>
</head>
<body>
	<div class="box">
		<h1 class="blue"><span th:text="#{title.course.input}"></span></h1>
		<form th:action="@{/course/conf}" th:object="${applicationForm}" method="post">
			<table>
				<tr>
					<td>
						<h3 class="red">※　は入力必須です。</h3>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p th:if = "${#fields.hasErrors('all')}"></p>
						<p th:errors = "*{all}" class = "error-message">error!</p>
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.name}" class="blue"></span>　<span class="red">※</span></td>
					<td><input type="text" maxlength="100" th:field="*{name}" th:value="*{name}" th:errorclass = "error-input" /></td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.furigana}" class="blue"></span>　<span class="red">※</span></td>
					<td><input type="text" maxlength="100" th:field="*{furigana}" th:errorclass = "error-input" /></td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.mail}" class="blue"></span>　<span class="red">※</span></td>
					<td><input type="text" maxlength="255" th:field="*{mail}" th:errorclass = "error-input" /></td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.gender}" class="blue"></span></td>
					<td>
						<input type="radio" th:field="*{gender}" value="1" />男
						<input type="radio" th:field="*{gender}" value="2" />女
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.birthday}" class="blue"></span>　<span class="red">※</span></td>
					<td>
						<select th:field="*{year}">
							<option value=""></option>
							<option th:each="i : ${yearList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
						</select><span th:text="#{label.year}" class="blue"></span>
						<select th:field="*{month}">
							<option value=""></option>
							<option th:each="i : ${monthList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
						</select><span th:text="#{label.month}" class="blue"></span>
						<select th:field="*{day}">
							<option value=""></option>
							<option th:each="i : ${dayList}" th:value="${i}" th:text="${i}" th:errorclass = "error-input"></option>
						</select><span th:text="#{label.day}" class="blue"></span>
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.tel}" class="blue"></span></td>
					<td><input type="text" maxlength="15" th:field="*{tel}" th:value="*{tel}" th:errorclass="error-input" /></td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.applyCourse}"></span> <span class="red">※</span></td>
					<td>
						<table border="1">
							<tr>
								<th>開催日時</th>
								<th>講座名</th>
								<th>空席状況</th>
								<th>チェック</th>
							</tr>
							<tr th:each="courseInfo : ${courseInfo}">
								<td>
									<span th:text="${#dates.format(courseInfo.thedate, 'yyyy年MMM月dd日 (E)')}"></span>
									<span th:text="${courseInfo.starttime}"></span>-<span th:text="${courseInfo.endtime}"></span>
								</td>
								<td th:text="${courseInfo.coursename}"></td>
								<td th:text="${courseInfo.vacantseats} > 0 ? '残' + ${courseInfo.vacantseats} + '席' : '満席'"></td>
								<td th:if="${courseInfo.vacantseats} != 0">
									<input type="checkbox" th:field="*{applyCourse}" th:value="${courseInfo.courseno}"/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="blue"><span th:text="#{label.remarks}"></span></td>
					<td><pre><textarea th:field="*{remarks}"  rows = "6" cols = "50"></textarea></pre></td>
				</tr>
			</table>
			<input type="submit" class="btn" value="確認" />
		</form>
	</div>
</body>
</html>